<!DOCTYPE html>
<html>
  <head>
    <title>SampleBlog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= flash[:success].html_safe if !flash[:success].blank? %>
    <%= flash[:error].html_safe if !flash[:error].blank? %>
    <%= yield %>
  </body>
</html>
